[Source URL]: https://studyinthestates.dhs.gov/employers-stem-opt-reporting-requirements

Breadcrumb
Home
STEM OPT Hub
Employers: STEM OPT Reporting Requirements
Employers: STEM OPT Reporting Requirements
Employers play a key role in maintaining and strengthening the integrity of the STEM OPT extension program. Although compliance with the program’s various reporting requirements predominately apply to students and DSOs, there are instances where STEM OPT employers must assist in tracking the STEM OPT students and their practical training progress.
Below are the specific instances in which employers are required to fulfill reporting requirements.
Complete and Certify the Form I-983
The STEM OPT employer must work with the student to complete the Form I-983 and designate an Official with Signatory Authority to certify that information in the document is true and correct. The form is not complete until the employer has signed and certified it in the designated areas.
Specifically, STEM OPT employers are responsible for completing Section 3 to Section 6 on the Form I-983. These sections request specific information about the company and the agreed-upon practical training schedule and compensation, as well as the formal training plan, respectively. For more information about how to properly complete the form, visit our page for
Employers and the Form I-983
.
Please note that the Official with Signatory Authority must be familiar with the STEM OPT student’s goals and performance, and have the authority to affirm that the statements provided on the Form I-983 are true and correct.
Evaluation on Student Progress
The STEM OPT employer must review the student’s annual self-evaluation on their own progress and sign it to attest to its accuracy.
The student must submit the first assessment within 12 months of the STEM OPT start date, and a second, final assessment that recaps the training and knowledge acquired during the complete training period. The student must submit the 12-month and final evaluations no later than 10 days following the conclusion of the applicable reporting period. If an opportunity ends early the student must submit the final evaluation within 10 days following the conclusion of the opportunity. Not submitting a final evaluation would be a violation of the terms of the Form I-983, “Training Plan for STEM OPT Students,” and may jeopardize the student’s nonimmigrant status.
The employer’s Official with Signature Authority from the Form I-983 must sign and enter the date of the signature to show concurrence with the assessment information that the student entered. Once signed, the employer must return the evaluation to the student, who will provide it to their DSO for recordkeeping.
Material Changes to an Existing Form I-983
Employers must work with the STEM OPT student to report to the DSO any material changes to, or material deviations from, the student’s formal training plan, by filling out a new Form I-983.
Material changes or deviations from the original Form I-983 may include, but are not limited to:
Any change of Employer Identification Number resulting from a corporate restructuring.
Any reduction in student compensation that is not tied to a reduction in hours worked.
Any significant decrease in hours per week that a student engages in a STEM training opportunity.
Changes to the employer’s commitments or student’s learning objectives as documented on the Form I-983.
So long as the STEM OPT student and employer meet the regulatory requirements, and the modified Form I-983 meets the specified requirements, the student’s employment authorization will not cease based on a change to the plan.
Loss of Employment
The employer and student both must notify the DSO when the student’s employment is terminated for any reason before the end of the authorized extension period.  The employer must report such a change in employment to the appropriate DSO no later than five business days after the student’s employment terminates or the student has departed.
Employers and students can satisfy this requirement, if they wish, with an email to the DSO indicating that the student was terminated or has otherwise departed, as well as the applicable date of such termination or departure.
An employer shall consider a student’s departure date as either:
The date the employer knows the student has left the practical training opportunity.
OR
The date after five consecutive business days have elapsed and the student has not reported for their practical training (without the employer’s consent), whichever date is earlier.
Download
SEVP's Training STEM OPT Students presentation
for more employer-related compliance information.
Related Tags:
STEM OPT
STEM OPT Hub Navigation
For Students
For Schools
DSOs: Recommending Students for the STEM OPT Extension
DSOs: STEM OPT Reporting Requirements
DSOs and the Form I-983
For Employers
Employers and the Form I-983
Why STEM OPT is Good for Small Business
Employer Site Visits
Employers: STEM OPT Reporting Requirements
Additional Resources
Form I-983 Overview
STEM OPT Extension Overview
Eligible CIP Codes for the STEM OPT Extension
STEM OPT Frequently Asked Questions